.auth {
    background-color: var(--highlight-color);
    color: var(--bg-color);
    max-width: 420px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
}

.auth button {
    display: block;
    margin-left: auto;
    width: 150px;
}