@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

:root {
    --text-color: #444;
    --primary-color: #d77a61;
    --secondary-color: #0fa3b1;
    --highlight-color: #d8b4a0;
    --bg-color: #eff1f3;
    --profile-color2: #dbd3d8;
}
  
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: var(--bg-color);
    color: var(--text-color);
    box-sizing: border-box;
}

ul, li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.btn {
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--bg-color);
    font-size: 1em;
}

.btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

label {
    display: block;
    margin: 24px auto;
}
  
span {
    display: block;
    margin-bottom: 6px;
}
  
input {
    width: 100%;
    padding: 8px 6px;
    color: #777;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}
  
.error {
    color: red;
    background: pink;
    border: 1px solid red;
    border-radius: 4px;
    padding: 8px;
    margin: 10px 0;
}